In [1]:
import pandas as pd

In [2]:
fandango = pd.read_csv('fandango_score_comparaison.csv')
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [4]:
series_film = fandango['FILM']
series_film[:5]

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [5]:
serie_rt = fandango['RottenTomatoes']
serie_rt[:5]

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [10]:
from pandas import Series

In [13]:
film_name = series_film.values
rt_cols = serie_rt.values
series_film_index = Series(data=rt_cols,index=film_name)
print(series_film_index)

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [16]:
original_index = series_film_index.index
index_sorted = sorted(original_index)
film_reindex = series_film_index.reindex(index_sorted)
film_reindex[:5]

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64

In [19]:
sc2 = film_reindex.sort_index()
sc3 = film_reindex.sort_values()
print(sc2)

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

In [20]:
print(sc3)

Paul Blart: Mall Cop 2 (2015)                  5
Hitman: Agent 47 (2015)                        7
Hot Pursuit (2015)                             8
Fantastic Four (2015)                          9
Taken 3 (2015)                                 9
                                            ...
Leviathan (2014)                              99
Timbuktu (2015)                               99
Phoenix (2015)                                99
Seymour: An Introduction (2015)              100
Gett: The Trial of Viviane Amsalem (2015)    100
Length: 146, dtype: int64

In [21]:
serie_normalize = film_reindex/20
print(serie_normalize)

'71 (2015)                          4.85
5 Flights Up (2015)                 2.60
A Little Chaos (2015)               2.00
A Most Violent Year (2014)          4.50
About Elly (2015)                   4.85
                                    ...
What We Do in the Shadows (2015)    4.80
When Marnie Was There (2015)        4.45
While We're Young (2015)            4.15
Wild Tales (2014)                   4.80
Woman in Gold (2015)                2.60
Length: 146, dtype: float64

In [22]:
criteria1 = film_reindex[film_reindex > 50]
print(criteria1)

'71 (2015)                          97
5 Flights Up (2015)                 52
A Most Violent Year (2014)          90
About Elly (2015)                   97
American Sniper (2015)              72
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 94, dtype: int64

In [23]:
criteria2 = film_reindex[film_reindex < 75]
print(criteria2)

5 Flights Up (2015)           52
A Little Chaos (2015)         40
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
                              ..
Unfinished Business (2015)    11
Unfriended (2015)             60
Vacation (2015)               27
Welcome to Me (2015)          71
Woman in Gold (2015)          52
Length: 85, dtype: int64

In [27]:
critaire_one = film_reindex > 50
critaire_two = film_reindex < 75
film_criteria  = film_reindex[critaire_one & critaire_two]
print(film_criteria)

5 Flights Up (2015)                                                       52
American Sniper (2015)                                                    72
Avengers: Age of Ultron (2015)                                            74
Big Eyes (2014)                                                           72
Escobar: Paradise Lost (2015)                                             52
Focus (2015)                                                              57
Inherent Vice (2014)                                                      73
Insidious: Chapter 3 (2015)                                               59
Into the Woods (2014)                                                     71
Jurassic World (2015)                                                     71
Maggie (2015)                                                             54
Magic Mike XXL (2015)                                                     62
Maps to the Stars (2015)                                                  60
Minions (2015)                                                            54
Paper Towns (2015)                                                        55
Pitch Perfect 2 (2015)                                                    67
Ricki and the Flash (2015)                                                64
Run All Night (2015)                                                      60
Saint Laurent (2015)                                                      51
Southpaw (2015)                                                           59
Spare Parts (2015)                                                        52
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
The Hobbit: The Battle of the Five Armies (2014)                          61
The Last Five Years (2015)                                                60
The Man From U.N.C.L.E. (2015)                                            68
The Second Best Exotic Marigold Hotel (2015)                              62
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Unfriended (2015)                                                         60
Welcome to Me (2015)                                                      71
Woman in Gold (2015)                                                      52
dtype: int64

In [28]:
rt_critics = Series(fandango['RottenTomatoes'].values,fandango['FILM'].values)

In [30]:
rt_users = Series(fandango['RottenTomatoes_User'].values,fandango['FILM'].values)

In [31]:
import numpy as np

In [37]:

rt_mean = (rt_critics + rt_users)/2

In [38]:
print(rt_mean)

Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64